<a href="https://colab.research.google.com/github/gauri7742/Arima-/blob/master/covid_19_in_india.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [6]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"vanshu","key":"041e295d15aca95a3f8abc68bcb5e339"}'}

In [8]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [9]:
!kaggle datasets download -d sudalairajkumar/covid19-in-india

Downloading covid19-in-india.zip to /content
  0% 0.00/273k [00:00<?, ?B/s]
100% 273k/273k [00:00<00:00, 37.3MB/s]

In [10]:
from zipfile import ZipFile
file_name="covid19-in-india.zip"
with ZipFile(file_name,'r') as zip:
  zip.extractall()
  print('done')

done

In [45]:
import numpy as np
import pandas as pd
import seaborn as sns
import datetime as dt
import matplotlib.pyplot as plt
df=pd.read_csv('covid_19_india.csv')
df.head()

   Sno      Date     Time  ... Cured Deaths Confirmed
0    1  30/01/20  6:00 PM  ...     0      0         1
1    2  31/01/20  6:00 PM  ...     0      0         1
2    3  01/02/20  6:00 PM  ...     0      0         2
3    4  02/02/20  6:00 PM  ...     0      0         3
4    5  03/02/20  6:00 PM  ...     0      0         3

[5 rows x 9 columns]

In [46]:
#df=df[['Date','State/UnionTerritory','Cured','Deaths','Confirmed']]
#df.columns=['date','state','cured','deaths','confirmed']

In [47]:
df.head()

   Sno      Date     Time  ... Cured Deaths Confirmed
0    1  30/01/20  6:00 PM  ...     0      0         1
1    2  31/01/20  6:00 PM  ...     0      0         1
2    3  01/02/20  6:00 PM  ...     0      0         2
3    4  02/02/20  6:00 PM  ...     0      0         3
4    5  03/02/20  6:00 PM  ...     0      0         3

[5 rows x 9 columns]

In [48]:
df.tail()

       Sno      Date     Time  ...   Cured Deaths Confirmed
5331  5332  18/08/20  8:00 AM  ...   72202    711     93937
5332  5333  18/08/20  8:00 AM  ...    5404     62      7409
5333  5334  18/08/20  8:00 AM  ...    8485    158     12493
5334  5335  18/08/20  8:00 AM  ...  104808   2515    158216
5335  5336  18/08/20  8:00 AM  ...   89703   2473    119578

[5 rows x 9 columns]

In [50]:
today=df[df.Date=='18/08/20']

In [42]:
today

          date                                     state  ...  deaths  confimed
5301  18/08/20               Andaman and Nicobar Islands  ...      29      2445
5302  18/08/20                            Andhra Pradesh  ...    2732    296609
5303  18/08/20                         Arunachal Pradesh  ...       5      2741
5304  18/08/20                                     Assam  ...     197     79667
5305  18/08/20                                     Bihar  ...     468    106307
5306  18/08/20                                Chandigarh  ...      30      2216
5307  18/08/20                              Chhattisgarh  ...     150     16025
5308  18/08/20  Dadra and Nagar Haveli and Daman and Diu  ...       2      1908
5309  18/08/20                                     Delhi  ...    4214    153367
5310  18/08/20                                       Goa  ...     111     11994
5311  18/08/20                                   Gujarat  ...    2800     79710
5312  18/08/20                                   Haryana  ...     550     48040
5313  18/08/20                          Himachal Pradesh  ...      19      4174
5314  18/08/20                         Jammu and Kashmir  ...     548     28892
5315  18/08/20                                 Jharkhand  ...     250     23752
5316  18/08/20                                 Karnataka  ...    4062    233283
5317  18/08/20                                    Kerala  ...     169     46140
5318  18/08/20                                    Ladakh  ...      14      1966
5319  18/08/20                            Madhya Pradesh  ...    1128     46385
5320  18/08/20                               Maharashtra  ...   20265    604358
5321  18/08/20                                   Manipur  ...      17      4687
5322  18/08/20                                 Meghalaya  ...       6      1418
5323  18/08/20                                   Mizoram  ...       0       789
5324  18/08/20                                  Nagaland  ...       8      3455
5325  18/08/20                                    Odisha  ...     353     62294
5326  18/08/20                                Puducherry  ...     114      8029
5327  18/08/20                                    Punjab  ...     863     32696
5328  18/08/20                                 Rajasthan  ...     887     62630
5329  18/08/20                                    Sikkim  ...       1      1187
5330  18/08/20                                Tamil Nadu  ...    5886    343945
5331  18/08/20                                 Telengana  ...     711     93937
5332  18/08/20                                   Tripura  ...      62      7409
5333  18/08/20                               Uttarakhand  ...     158     12493
5334  18/08/20                             Uttar Pradesh  ...    2515    158216
5335  18/08/20                               West Bengal  ...    2473    119578

[35 rows x 5 columns]

In [51]:
max_confirmed_cases=today.sort_values(by="Confirmed",ascending=False)
max_confirmed_cases

       Sno      Date     Time  ...   Cured Deaths Confirmed
5320  5321  18/08/20  8:00 AM  ...  428514  20265    604358
5330  5331  18/08/20  8:00 AM  ...  283937   5886    343945
5302  5303  18/08/20  8:00 AM  ...  209100   2732    296609
5316  5317  18/08/20  8:00 AM  ...  148562   4062    233283
5334  5335  18/08/20  8:00 AM  ...  104808   2515    158216
5309  5310  18/08/20  8:00 AM  ...  138301   4214    153367
5335  5336  18/08/20  8:00 AM  ...   89703   2473    119578
5305  5306  18/08/20  8:00 AM  ...   76452    468    106307
5331  5332  18/08/20  8:00 AM  ...   72202    711     93937
5311  5312  18/08/20  8:00 AM  ...   62595   2800     79710
5304  5305  18/08/20  8:00 AM  ...   56734    197     79667
5328  5329  18/08/20  8:00 AM  ...   47654    887     62630
5325  5326  18/08/20  8:00 AM  ...   43780    353     62294
5312  5313  18/08/20  8:00 AM  ...   40610    550     48040
5319  5320  18/08/20  8:00 AM  ...   35025   1128     46385
5317  5318  18/08/20  8:00 AM  ...   30025    169     46140
5327  5328  18/08/20  8:00 AM  ...   20180    863     32696
5314  5315  18/08/20  8:00 AM  ...   21296    548     28892
5315  5316  18/08/20  8:00 AM  ...   15051    250     23752
5307  5308  18/08/20  8:00 AM  ...   10598    150     16025
5333  5334  18/08/20  8:00 AM  ...    8485    158     12493
5310  5311  18/08/20  8:00 AM  ...    8058    111     11994
5326  5327  18/08/20  8:00 AM  ...    4627    114      8029
5332  5333  18/08/20  8:00 AM  ...    5404     62      7409
5321  5322  18/08/20  8:00 AM  ...    2734     17      4687
5313  5314  18/08/20  8:00 AM  ...    2834     19      4174
5324  5325  18/08/20  8:00 AM  ...    1530      8      3455
5303  5304  18/08/20  8:00 AM  ...    1893      5      2741
5301  5302  18/08/20  8:00 AM  ...    1325     29      2445
5306  5307  18/08/20  8:00 AM  ...    1183     30      2216
5318  5319  18/08/20  8:00 AM  ...    1368     14      1966
5308  5309  18/08/20  8:00 AM  ...    1459      2      1908
5322  5323  18/08/20  8:00 AM  ...     679      6      1418
5329  5330  18/08/20  8:00 AM  ...     701      1      1187
5323  5324  18/08/20  8:00 AM  ...     372      0       789

[35 rows x 9 columns]

In [53]:
#states with high rate of confirmed Cases
state_high_rate=max_confirmed_cases[0:5] 
state_high_rate

       Sno      Date     Time  ...   Cured Deaths Confirmed
5320  5321  18/08/20  8:00 AM  ...  428514  20265    604358
5330  5331  18/08/20  8:00 AM  ...  283937   5886    343945
5302  5303  18/08/20  8:00 AM  ...  209100   2732    296609
5316  5317  18/08/20  8:00 AM  ...  148562   4062    233283
5334  5335  18/08/20  8:00 AM  ...  104808   2515    158216

[5 rows x 9 columns]